{% load staticfiles %}

<!doctype html>
<html>
<head>
  {% include 'google_analytics.html' %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PlayQuest</title>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
  <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/modal.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/emojione/2.2.7/lib/js/emojione.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/emojione/2.2.7/assets/css/emojione.min.css"/> -->
</head>

<body style="padding-top:30px;">

{% include 'plqst/basic_nav.html' %}

<style>
.vid-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
p{
  font-size:1.5em;
}
</style>
<div class="container">
  <br /><br />
<div class="vid-container">
<iframe  src="https://www.youtube.com/embed/3ZrH4jQ70cg?rel=0"
frameborder="0" allowfullscreen class="video"></iframe>
</div>




<h2>About PlayQuest</h2>

<p>PlayQuest is a platform for creating fun, simple and interactive games and stories with emoji — right in your browser!</p>
<p>In just minutes, you can create a simple, interactive and fun PlayQuest game. Choose from over 1,000 emoji to build your scenes, characters, special items, or whatever you can think of! Then play and share your game instantly on any device!</p>

<h3>Who is PlayQuest for?</h3>
<p>PlayQuest was originally designed as tool to give kids hands-on experiencing making simple games. PlayQuest aims to introduce abstract concepts and logical thinking in a digital, online, and social environment. We don't have an official recommended age range, but we are working hard to get kids excited about the more technical aspects of games as early as possible. We also think that PlayQuest games can be enjoyed by a much larger age range — who doesn't love playing with emoji? 🤷🏻‍</p>

<h3>Cool, how can I get involved?</h3>
<p>We're glad you asked! PlayQuest is currently in a public alpha testing phase. This means that it is still being developed and optimized. If you are a parent, we invite you to explore the tools we have for creating games. Simply go to <a href="http://www.playquest.io/create">playquest.io/create</a> and have a look around. If you have any questions or feedback, we would love to hear from you. Get in touch by email: <a href="mailto:hello@playquest.io">hello@playquest.io</a>. If you love the idea of PlayQuest and want to get involved, we welcome you to join our <a href="https://kickstarter.com">Kickstarter campaign</a> to support our efforts and get early access to some great content that we think everyone of all ages will love. </p>
<br />
<div style="text-align:center;">
<button href="https://kickstarter.com" class="btn btn-lg btn-success">Support us on Kickstarter</button>
</div>
<h3>OK, I made a game, now what?</h3>
<p>Way to go! We are glad you tried your hand at making a game on PlayQuest! Feel free to share the link to the game with anyone you think might like it. If you want, you can sign up for a free account with PlayQuest and easily manage your games. All of you games will be available on your public PlayQuest profile (playquest.io/user/<i>your-username</i>). With an account, you can go back and edit your games at any time. We will be adding many new features over the next few months, so be sure to keep up to date with all of the latest PlayQuest news by following PlayQuest on our Twitter account: <a href="https://twitter.com/playquest_io">@playquest_io</a></p>
<br/>
<div style="text-align:center;">
<button href="https://kickstarter.com" class="btn btn-lg btn-info">Follow us on Twitter</button>
</div>
<br /><br />
</div>

{% include 'plqst/footer.html' %}
</body>
