

<footer style="background-color:#f8f8f8;" class="footer-distributed ">
  <div style="text-align:center;" class="container">
    <br />
  <div class="row">

    <div class="col-md-4">
        <div class="footer-left ">

        </div>
      </div>
          <div class="col-md-4">
        <div class="footer-center ">


            <div>
              <h3>PlayQuest</h3>
              <div>
                  <p>&copy; 2017</p>
                  <style>
                  a:link {
                      text-decoration: none;
                  }

                  /* visited link */
                  a:visited {

                      text-decoration: none;
                  }

                  /* mouse over link */
                  a:hover {

                      text-decoration: underline;
                  }

                  /* selected link */
                  a:active {
                      color: gray;
                      text-decoration: none;
                  }
                  </style>
                  <p><a style="color:grey" href="mailto:hello@playquest.io">hello@playquest.io</a></p>
              </div>
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-right ">

        </div>
      </div>
    </div>
    </div>

</footer>
