{% load staticfiles %}

<!doctype html>
<html>
<head>
  <title>King's Encounter</title>

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
  <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/modal.css' %}">

</head>


<body style="padding-top:40px;">


{% include 'plqst/basic_nav.html' %}

<div class="container">
<h2>{{ user.username }}'s Profile</h2>
<hr>
<h2>Your Games</h2>
{% if messages %}
  {% for message in messages %}
  <div {% if message.tags %} style="text-align:center;" class="{{ message.tags }} alert alert-warning alert-dismissible"{% endif %}>


  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>


  {{ message }}

  </div>


  {% endfor %}
{% endif %}

{% for game in user_games %}
<p style="font-size:2em;"><a href="{{ game.play_url }}">{{ game.id }}</a></p>
<p style="color:gray;">created on {{ game.game_created | date:"M d, 'y"}}</p>
<p style="font-size:1.75em;"><a class="btn btn-default" href="{% url 'plqst:game_id' id=game.id %}">▶️&nbsp;&nbsp;Play </a> | <a class="btn btn-default" href="{% url 'plqst:edit_game' id=game.id %}">🛠&nbsp;&nbsp;Edit</a> | <a class="btn btn-default" href="{% url 'plqst:delete_game' id=game.id %}">🗑&nbsp;&nbsp;Delete</a></p>
<br />
{% endfor %}
</div>

</body>

</html>
